@font-face {
    font-family: 'GothamRounded';
    src: url('../assets/fonts/gotham-rounded-medium.otf');
}
html, body {
    font-family: "GothamRounded", Helvetica, Arial, sans-serif;
    background-color: #FFF;
    color: #1A1A1D;
    text-align: center;
}
h1 {
    margin-top: 32px;
}
#board {
    position: relative;
    margin: 0 auto;
    margin-bottom: 12px;
}

.entity {
    position: absolute;
    background-size: 48px 81px;
    width: 48px;
    height: 81px;
}



#tree-mask {
    cursor: pointer;
    display: none;
    background-image: url("../assets/images/tree.png");
    top: 0px;
    left: 0px;
    opacity: 0.7;
}



.tile {
    cursor: pointer;
    position: absolute;
    background-image: url("../assets/images/grass.png");
    background-size: 48px 81px;
    width: 48px;
    height: 81px;
    top: 0px;
    left: 0px;
}
.tile.hover {
    background-color: #f00;
}
.tile.selected {
    background-color: #0f0;
}
.cat {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    margin: 4px;
    background-color: pink;
    border-radius: 3px;
}
.cat.hover {
    /* change image */
}
.button {
    cursor: pointer;
    color: #FFF;
    display: inline-block;
    background-color: #2D6BA3;
    padding: 12px 16px;
    border-radius: 8px;
}
.button.hover {
    background-color: #4E89BE;
}
