@font-face {
    font-family: 'GothamRounded';
    src: url('../assets/fonts/gotham-rounded-medium.otf');
}
html, body {
    font-family: "GothamRounded", Helvetica, Arial, sans-serif;
    background-color: #FFF;
    color: #1A1A1D;
    text-align: center;
}
h1 {
    margin-top: 32px;
}
#board {
    position: relative;
    margin: 0 auto;
    margin-bottom: 12px;
}
#board-hit {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100000000;
}

.entity {
    position: absolute;
    background-size: 48px 81px;
    width: 48px;
    height: 81px;
    top: 0px;
    left: 0px;
}



#tree-mask {
    display: none;
    background-image: url("../assets/images/tree.png");
    opacity: 0.7;
}
#tree-mask.block {
    background-image: url("../assets/images/treeblock.png");
}
.tile {
    background-image: url("../assets/images/grass.png");
}
.tile.dirt {
    background-image: url("../assets/images/dirt.png");
}
.tile.puddle {
    background-image: url("../assets/images/water.png");
}
.tree {
    background-image: url("../assets/images/tree.png");
}
.cat {
    background-image: url("../assets/images/cat.png");
}
.cat.hover {
    /* change image */
}
.button {
    cursor: pointer;
    color: #FFF;
    display: inline-block;
    background-color: #2D6BA3;
    padding: 12px 16px;
    border-radius: 8px;
}
.button.hover {
    background-color: #4E89BE;
}
