@font-face {
    font-family: 'GothamRounded';
    src: url('../assets/fonts/gotham-rounded-medium.otf');
}
html, body {
    font-family: "GothamRounded", Helvetica, Arial, sans-serif;
    background-color: #FFF;
    color: #1A1A1D;
    text-align: center;
}
h1 {
    margin-top: 32px;
}
#board {
    position: relative;
    margin: 0 auto;
    margin-bottom: 12px;
}
#board-hit {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10000;
}
.entity {
    position: absolute;
    background-size: 48px 81px;
    width: 48px;
    height: 81px;
    top: 0px;
    left: 0px;
}
#tree-mask {
    display: none;
    background-image: url("../assets/images/tree.png");
    opacity: 0.7;

    &.block {
        background-image: url("../assets/images/treeblock.png");
    }
}
.tile {
    background-image: url("../assets/images/grass.png");

    &.dirt {
        background-image: url("../assets/images/dirt.png");
    }
    &.puddle {
        background-image: url("../assets/images/water.png");
    }
}
.tree {
    background-image: url("../assets/images/tree.png");
}
.cat {
    background-image: url("../assets/images/cat.png");
}
.button {
    cursor: pointer;
    color: #FFF;
    display: inline-block;
    background-color: #BF64FC;
    padding: 12px 16px;
    border-radius: 8px;

    &.hover {
        background-color: #FFAD00;
    }
}
.modal {
    z-index: 100000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.6);
    text-align: center;

    .dialog {
        overflow: hidden;
        border-radius: 16px;
        margin: 10% auto;
        width: 600px;
        height: 300px;
        background: white;
        opacity: 0.8;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.8);

        .dialog-header {
            padding: 12px;
            background-color: #BF64FC;
            color: #FFF;
            margin-bottom: 24px;
        }
        .dialog-content {
            margin-bottom: 12px;
            p {
                b {
                    font-weight: normal;
                    color: #BF64FC;
                }
                margin: 0 24px 12px 24px;
            }
        }
        .dialog-buttons {
            margin-bottom: 24px;
        }
    }
}


.blur {
    -webkit-filter: blur(2px);
}
